.login-container {
  padding-top: 60px;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  min-height: 100vh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #616161;
}
.title-holder {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  flex: 1 1 auto;
  padding: 0;
}
#title {
  font-size: 18px;
  font-family: 'open sans';
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #7F8DC0;
  background-color: #fff;
  border-color: #fff;
  padding-right: 0;
  margin: 0;
}
.wrapper {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}
.r-section-wrapper {
  padding: 40px 23px 30px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.form-wrapper {
  max-width: 475px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'open sans';
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.form-legend {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 2em;
  border-bottom: 1px solid #e7e8e8;
  -webkit-box-align: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}
#status {
  font-size: 13px;
  margin-top: 1em;
  margin-bottom: 10px;
  max-width: 540px;
}
