<body ng-controller="formController">
  <header id="top" class="header">
    <div class="text-vertical-center btn btn-dark btn-lg">
      <h1>Login</h1>
      <br>

      <!--
        Below we include the Login Button social plugin. This button uses
        the JavaScript SDK to present a graphical Login button that triggers
        the FB.login() function when clicked.
      -->

      <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" scope="public_profile,email" onlogin="checkLoginState();"></div>
      <br><br>
      <div id="status">
      </div>

      


      <!-- Login -->
      <!-- <form class="form-signin left">
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Username" ng-model="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="pass" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitLogin(email, pass)">Log in</button>
      </form> -->


      <!-- Sign Up -->
      <!-- <form class="form-signin right">
        <h2 class="form-signin-heading right">Sign Up</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email2" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="pass2" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submitSignup(email2, pass2)">Sign up</button>
      </form>
    </div>
    </div> -->
  </header>
  <!-- <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Wiggler</h2>
        </div>
      </div>
    </div>
  </section> -->
</body>
